@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: white;
  margin: 1% 3% 3% 3%;
}


/* ----------------- App ----------------- */

.app{
  background: #e6ecf0;
}

h1{
 font-family:Georgia,serif;
 color:#4E443C;
 font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
 font-size:25px;
}

p{
        font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 14px;
        margin-top: .5em; color: #666;
}

/* ----------------- Nav ----------------- */

.navbar{
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to right, #ff5858, #f857a6);
	margin-bottom: 5px;
	list-style: none;
	text-decoration:none;
  color:black;
  display: flex;
}


.navbar nav{
  	display: flex;
	  justify-content: flex-start;
	  align-items: center;
	 /* animation: 1s fadein 0.5s forwards;
	  opacity: 0; */
}

.navbar li{
  padding: 5px;
  font: bold;
  font-size:18px;
}

/*@keyframes fadein{
	100%{
		opacity: 1;
	}
}*/

.navbar nav li:hover {
  cursor: pointer;
}

.navbar form {
  display:flex;
  justify-content:space-around;
  align-items: center;
}

.navbar form input{
  height:30px;
}

/* ---------------- Homepage Section ---------------------- */

/* Newslist Section */

.newslist {
    list-style-type: decimal;
    margin-bottom: 10px;
    margin-left:0px;
}


.newslist ol li{
  color: grey;
}

/* NewsItem Section */

.newsitem li .newsitem-news{
    padding: 2px;
    color: black;
}

.newsitem li .newsitem-source{
    padding: 2px;
    color: grey;
}


/* About section */ 

.about{
  margin:10px 10px 25px 25px;
}


.aboutpicture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    overflow-x: auto;  
    margin-bottom: 25px;
    flex-basis: 8rem;
    
}

.aboutpicture img{
    width: 100px;
    height: 100px;
    border-radius:15px;
    
}

.slider {
  margin-bottom: 10px;
}

.slider img{
    width: 75px;
    height: 75px;
    border-radius:10px;
    margin: 5px;
    position:relative;
}


/* Technical section */ 

.technical{
  margin:10px 10px 25px 25px;
}


/* Contact section */ 

.contact{
  margin:10px 10px 25px 25px;
}


/* --------------- Footer Section ------------------------ */

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 20px 0;
	border-top:1px solid #f857a6;
	list-style: none;
	text-decoration:none;
}

.footer nav{
  display: flex;
}

.footer nav li{
    padding: 5px;
}